* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  /* outline: 1px solid #faa; */
}



body {
  padding-top: 3.4rem;
}

/* nav .header {
  z-index: 2;
  top: 0;
} */

h1 {
  position: fixed;
  top: -100px;
}

nav .logo-pic {
  width: 90px;
  height: 25px;
}
nav .logo-pic img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
nav .navbar-brand p {
  font-size: 1rem;
}

nav button.navbar-toggler {
  /* outline: 1px solid #faa; */
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0px;
  background-color: #dc3545;
  border-color: #dc3545 !important;
  color: #dc3545 !important;
  /* margin-right: -1rem; */
  /* margin-top: -0.5rem; */
  /* margin-bottom: -0.5rem; */
}
nav .navbar.navbar-toggler:focus {
  outline: 0px !important;
}

nav .navbar-toggler-icon {
  background-image: none !important;
}
nav .navbar-toggler-icon::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 10px #fff, 0 -10px #fff;
}

/* nav .navbar-collapse { */
  /* background-color: #fff; */
  /* z-index: 100; */
  /* top: 0; */
  /* left: 0; */
/* } */
/* nav ul li a {
  outline: 1px solid #faa;
} */
nav ul li a:focus,
nav ul li a:hover {
  color: #dc3545 !important;
}
nav .bouncing {
  display: inline-block !important;
  animation: bouncing 0.8s linear infinite alternate;
  position: relative;
  left: -2px;
}
nav .bouncing img {
  width: 18px;
}

@keyframes bouncing {
  0% {
    /* top: -5px; */
    transform: translateY(-5px);
  }
  /* 50% {
    top: -10px;
  } */
  100% {
    /* top: -5px; */
    transform: translateY(-10px);
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #fff;
}
/* section.avatar .carousel-indicators {
  bottom: -40px;
} */
section.avatar .carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #aaa;
  border: none
}
.carousel-indicators li.active {
  background-color: #d90845 !important;
}




section.about,
section.avatar,
footer {
  background-color: #f7f7f7;
}

.main-title h3::after {
  content: '';
  display: block;
  height: 3px;
  width: 80px;
  background-color: #d90845;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
section.know h3::after {
  display: none;
}

.text-dark {
  color: #555 !important;
}

.lesson .item .content-wrap {
  transition: 0.3s;
}
.lesson .item .content-wrap:hover {
  /* outline: 1px solid #fa0; */
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(100, 100, 100, 0.2);
}
.lesson-month.badge-light {
  background-color: #e6e6e6;
  font-size: 90%;
  color: #666;
}

section.know .text p {
  font-size: 18px;
  line-height: 2;
}
.know .social-btn a,
.know .social-btn a img {
  /* outline: 1px solid blue; */
  border-radius: 50%;
}

section.avatar .text-area  {
  height: 320px;
}

footer .footer-pic img {
  max-width: 140px;
}
footer li {
  font-size: 14px;
  vertical-align: middle;
}
footer .icon-font {
  /* outline: 1px solid blue; */
  display: inline-block;
  width: 1em;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
footer .icon-font i {
  margin: 0 !important;
}
.foot-log li:last-child i {
  /* outline: 1px solid #faa; */
  position: relative;
  left: 1.5px;
}
.foot-logo li:last-child a {
  padding-left: 3px;
}

.footer-link p {
  font-size: 15px;
}
footer ul li a:focus,
footer ul li a:hover {
  color: #dc3545 !important;
}

.copyright {
  font-size: 12px;
}



.sticker .msg,
.sticker .to-top {
  /* outline: 1px solid #faa; */
  position: fixed;
  right: 20px;
}
.sticker .msg {
  bottom: 80px;
  background-color: #d90845;
  width: 60px;
  line-height: 60px;
  font-size: 40px;
}
.sticker .to-top {
  /* height: 40px; */
  line-height: 40px;
  font-size: 20px;
  width: 40px;
  bottom: 20px;
  color: #d90845;
}
.sticker a.msg:hover {
  /* background-color: #afa; */
  box-shadow: 0 0.25rem 2rem rgba(0,0,0, 0.25) !important;
}



@media screen and (min-width: 768px) {
  section.avatar .text-area  {
    height: 220px;
  }
}

@media screen and (min-width: 992px) {
  nav .navbar-collapse {
    border-top: none !important;
    flex-grow: 0;
    flex-basis: 0;
  }
}