* {
    margin: 0;
    padding: 0;
}
h1 {
    color: rgba(28, 49, 238, 0.781);
}
nav {
    background-color: black;
    text-align: center;
    /* padding: 6px; */
    font-size: 0px;
}
nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 6px 20px;
    transition: 0.5s;
}
nav a:hover {
    background-color: rgb(236, 148, 25);
}