a {
  text-decoration: none;
}
header {
  padding: 20px 20px 20px 30px;
  /* position: fixed; */
  /* ! 忘記加上 fixed，可是補上後版面會跑掉，先留著晚點處理 */
  /* background-color: #aaa; */
}
header .header-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
header .logo {
  font-size: 16px;
  line-height: 24px;
  /* border: 1px solid red; */
  align-self: center;
}
header .logo img {
  width: 90px;
  height: 24px;
  vertical-align: bottom;
  /* .logo 的 img 和 span 高度不一致 */
  /* * middle 改成 bottom 高度一致了 */
}
header .logo span {
  color: #d90845;
}
header nav ul {
  font-size: 0;
}
header nav li {
  height: 24px;
  display: inline-block;
  margin: 0 10px;
  /* background-color: #fa0; */
}
header nav a {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-style: bold;
}
header nav a:hover {
  color: #d90845;
}



.banner img {
  width: 100%;
  vertical-align: bottom;
  /* * 圖片跟下面 .about 有一點點空隙，一樣用 bottom 解決 */
}



.about {
  padding: 50px 0;
  background-color: #eee;
}
.about-container {
  width: 1200px;
  margin: auto;
}
.about h2 {
  font-size: 24px;
  color: #444;
  /* margin: auto; */
  /* * margin: auto 沒辦法置中，因為 block 物件寬度預設 100% */
  text-align: center;
}
.about h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  /* color: red; */
  /* * 設定 color 沒反應，因為並沒有文字內容 */
  background-color: #d90845;
  margin: 20px auto 50px;
}
.about .item-group {
  display: flex;
}
.about .item {
  width: 240px;
  margin: 0 30px;
  text-align: center;
  box-sizing: border-box;
  color: #444;
}
.about .item h3 {
  font-size: 24px;
  margin: 20px 0;
}



.lesson {
  padding: 50px 0;
  /* background-color: #ffa; */
}
.lesson-container {
  width: 1200px;
  margin: auto;
}
.lesson h2 {
  font-size: 24px;
  color: #444;
  text-align: center;
}
.lesson h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #d90845;
  margin: 20px auto 50px;
}
.lesson .item-group {
  display: flex;
}
.lesson .item {
  width: 340px;
  height: 450px;
  margin: 0 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.lesson .item img {
  width: 100%;
  height: 250px;
  vertical-align: bottom;
}
.lesson .item-text {
  padding: 10px;
}
.lesson .item .enroll {
  width: 60px;
  background-color: #d90845;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}
.lesson .item h3 {
  color: #555;
  font-size: 18px;
  line-height: 24px;
  height: 80px;
  padding-top: 10px;
}
.lesson .item p {
  font-size: 14px;
  color: #888;
  /* padding: 10px 0; */
  /* * .lesson-time 的 p 一直無法跟 span 對齊上方，後來發現原來有加 padding */
}
.lesson .item-text p.teacher {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.lesson .item-text .lesson-time {
  margin-top: 15px;
  display: flex;
  /* border: 1px solid red; */
}
.lesson .lesson-time span {
  margin-left: 15px;
  padding: 5px 8px;
  /* line-height: 18px; */
  /* * 忘記有加 padding 一直對 line-height 做設定但都沒效果 */
  font-size: 14px;
  color: #555;
  background-color: #ddd;
  border-radius: 5px;
}
.lesson .more {
  background-color: #d90845;
  width: 230px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin: 75px auto 20px;
}
/* TODO: 課程特效 */



.avatar {
  background-color: #eee;
}
.avatar-container {
  width: 1200px;
  margin: auto;
  padding: 50px 0 30px;
}
.avatar h2 {
  font-size: 24px;
  color: #444;
  text-align: center;
}
.avatar h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #d90845;
  margin: 20px auto 40px;
}
.avatar .item-group {
  width: 760px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.avatar .pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar .text {
  width: 600px;
  color: #555;
  font-size: 16px;
  line-height: 24px;
}
.avatar .text .content {
  height: 60px;
}
.avatar .text .avatar-name {
  color: #d90845;
  font-size: 24px;
  height: 30px;
}
.avatar .text span {
  color: #888;
}



.contact {
  background-color: #ffa;
}